.header {
  /*max-width: 1184px;*/
  /*max-width: 1280px;*/
  max-width: 100%;
  /*width: 100%;*/
  margin: 0 48px;
  /*max-width: 92.5vw;*/
  /*margin: 0 auto;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*@media (max-width: 1024px) {
  .header {
    max-width:928px;
  }
}*/

@media screen and (max-width: 768px) {
  .header {
    margin: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 0 16px;
  }
}
/*
@media (max-width: 320px) {
  .header {
    max-width:288px;
  }
}*/