.lead__title {
  margin: 0;
  max-width: 720px;
  font-size: 96px;
  font-weight: bold;
  line-height: 1.04;
  text-align: center;
  margin-top: 56px;
} 

@media (max-width: 425px) {
  .lead__title {
    max-width: 390px;
    font-size: 50px;
    line-height: 1.1;
  }
}

@media (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}