.lead__image {
  max-width: 984px;
  width: 100%;
  /*height: auto;*/
  /*max-width: 100%;*/
  /*margin: 0 148px;*/
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    /*margin: 0 48px;*/
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    max-width:425px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width:320px;
  }
}
