.page__section {
  max-width: 100%;
  margin: 0 148px;
  /*max-width: 984px;*/
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .page__section {
    /*max-width: 928px;*/
    margin: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .page__section {
    /*max-width: 100%;*/
    margin: 0 24px;
  }
}