.footer {
  margin: 0 48px;
  max-width: 100%;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px;
  }
}

@media screen and (max-width: 740px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
  }
}