.place__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 1;
  font-size: 400;
  letter-spacing: 0.2em;
  padding-bottom: 12px;
  color: #AAA;
}

@media (max-width: 425px) {
  .place__url-heading {
    width: 370px;
  }
}

@media (max-width: 320px) {
  .place__url-heading {
    width: 288px;
  }
}